{relx, [
        {release,
            {cdapbroker,"4.0.3"},
            [cdapbroker]
        },
        %{extend_start_script,true},
        %
        %for the following two fancyiness see https://www.rebar3.org/docs/releases
        %Supply our own vm.args
        {vm_args, "config/vm.args"},
        %supply our own application configuration
        {sys_config, "config/sys.config"}
       ]}.

{deps, [
    {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", {branch, "master"}}},
    %{leptus, ".*", {git, "git://github.com/s1n4/leptus.git", {branch, "master"}}},
    {leptus, ".*", {git, "git://github.com/tommyjcarpenter/leptus.git", {branch, "version"}}},
    {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}},
    %generate RFC compliant UUIDs
    {uuid, ".*",  {git, "https://github.com/avtobiff/erlang-uuid.git", {branch, "master"}}},
    %generate ISO8601 timestamps
    {iso8601, {git, "https://github.com/erlsci/iso8601.git", {tag, "1.2.3"}}}
    ]}.

%%% Require OTP 19.2 at a bare minimum
{minimum_otp_vsn, "19"}.

%% Plugins
{shell, [
    {apps, [lager, sync, gen_rpc]}
]}.

% Erlang options
{erl_opts,
   [
     %%lager first
     %%support lager introspecting module/line/function
     {parse_transform, lager_transform},
     %%support EELF sinks
     {lager_extra_sinks, [audit,metrics,error]},

      %other opts
      %warnings_as_errors,
      debug_info,
      {warn_format, 1},
      bin_opt_info,
      inline_list_funcs,
      report_warnings,
      warn_export_vars,
      warn_export_all,
      warn_shadow_vars,
      warn_obsolete_guard,
      warn_unused_import,
      warn_deprecated_function,
      warn_unused_vars,
      warn_unused_function,
      warn_bif_clash,
      warn_unused_record,
      warn_exported_vars
  ]
}.

%% Code coverage
{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_opts, [verbose]}.

%% EUnit options
{eunit_compile_opts, [debug_info, export_all]}.
{eunit_opts, [verbose,
    no_tty,
    {report, {eunit_progress, [colored, profile]}}
]}.
